<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title th:text="#{headernavbar.pagetitle}"></title>
<meta charset="UTF-8" />

</head>


<body>

	<th:block th:fragment="FRG_header_navbar">
		<link rel="stylesheet" type="text/css" th:href="@{/css/abasstyle.css}" />

		<script type="text/javascript">
			function F11() {
				var el = document.documentElement, rfs = el.requestFullscreen
						|| el.webkitRequestFullScreen
						|| el.mozRequestFullScreen || el.msRequestFullscreen;
				rfs.call(el);

			}
			//
			// document.addEventListener("DOMContentLoaded", function(event){ winOpen(););}
			// window.addEventListener('load', function(){winOpen();});
			// window.onload = function(e) {	winOpen();	}
			//$(document).ready(function() { winOpen(); });
			//window.document.onload = function(e){ winOpen();  }
			document.onload = function() {winOpen(); }
			//
			function winOpen() {

				var w = window.open('/', '', 'width=100,height=100');
				w.resizeTo(w.screen.availHeight, w.screen.availWidth);
				w.focus();
			}
			function winClose() {
				window.close();
			}
		</script>

		<div class="topleft"
			th:if="${#httpServletRequest.requestURI != '/' and #httpServletRequest.requestURI != '/index' }">
			<button class="navbutton" th:title="#{headernavbar.tooltip.home}"
				onclick="window.location.href='/'"
				sec:authorize="hasRole('ANONYMOUS')">
				<img src="/images/home48.png">
			</button>
			<button class="navbutton" th:title="#{headernavbar.tooltip.home}"
				onclick="window.location.href='/admin'"
				sec:authorize="hasRole('ADMIN')">
				<img src="/images/home48.png">
			</button>
			<button class="navbutton" th:title="#{headernavbar.tooltip.home}"
				onclick="window.location.href='/wh'"
				sec:authorize="hasRole('USER_WAREHOUSE')">
				<img src="/images/home48.png">
			</button>
			<button class="navbutton" th:title="#{headernavbar.tooltip.home}"
				onclick="window.location.href='/pdc'"
				sec:authorize="hasRole('USER_PDC')">
				<img src="/images/home48.png">
			</button>
			<button class="navbutton" th:title="#{headernavbar.tooltip.home}"
				onclick="window.location.href='/shpm'"
				sec:authorize="hasRole('USER_SHIPMENT')">
				<img src="/images/home48.png">
			</button>

			<button class="navbutton" th:title="#{headernavbar.tooltip.logout}"
				onclick="winOpen();">
				<img src="/images/fullo48.png">
			</button>

			<button class="navbutton" th:title="#{headernavbar.tooltip.logout}"
				onclick="winClose();">
				<img src="/images/fulli48.png">
			</button>
		</div>


		<div sec:authorize="isAuthenticated()">
			<div class="topright">
				<button class="navbutton" th:title="#{headernavbar.tooltip.logout}"
					onclick="window.location.href='/logout'">
					<img src="/images/logout48.png">
				</button>
			</div>
		</div>


	</th:block>


</body>