
.abascontainer50 {
  	position: relative;
  	padding-top: 2%; 
  	margin: 0;
  	width: 50% absolute!;
  	padding-top: 5%;
  	padding-bottom: 5%;
  	padding-left: 25%;
  	padding-right: 25%;
  	display: grid; 
}

.abascontainer40 {
  	position: relative;
  	padding-top: 2%; 
  	margin: 0;
  	width: 40% absolute!;
  	padding-top: 5%;
  	padding-bottom: 5%;
  	padding-left: 30%;
  	padding-right: 30%;
  	display: grid; 
}

.button {
	background-color: #5DBCD2;
	//border: none;
  	color: black;
  	padding: 5px 32px;
  	text-align: center;
  	text-decoration: none;
  	border-radius: 5%;
  	-webkit-transition-duration: 0.4s; /* Safari */
 	transition-duration: 0.4s;
  	transition: all 0.1s;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	//width: inherit;
  	cursor: pointer;
  	//display: inline-block;
}

.button-16
{
	font-size: 16px;
}

.button-14
{
	font-size: 14px;
}

.button-12
{
	font-size: 12px;
}

.button-10
{
	font-size: 10px;
}

.btn-group .button:hover {
  background-color: black; 
  color:  #5DBCD2;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}