@media only screen and (min-width: 500px) 
{
}
@media only screen and (max-width: 500px) 
{
}

@font-face {
    font-family: 'din-regular';
    src: url('../fonts/din-regular-webfont.eot');
    src: url('../fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-regular-webfont.woff2') format('woff2'),
         url('../fonts/din-regular-webfont.woff') format('woff'),
         url('../fonts/din-regular-webfont.ttf') format('truetype'),
         url('../fonts/din-regular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abaspermanentmarker';
    src: url('../fonts/abaspermanentmarker-webfont.eot');
    src: url('../fonts/abaspermanentmarker-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abaspermanentmarker-webfont.woff2') format('woff2'),
         url('../fonts/abaspermanentmarker-webfont.woff') format('woff'),
         url('../fonts/abaspermanentmarker-webfont.ttf') format('truetype'),
         url('../fonts/abaspermanentmarker-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: "abaspermanentmarker";
	}

.abascontainer {
  	position: relative;
  	margin: 0;
  	padding-top: 5%;
  	padding-bottom: 5%;
  	margin-left: 20%;
  	margin-right: 20%;
  	display: grid; 
}
 .abascontainer2 {
    background-color: transparent;
    display: grid;    
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  	padding-top: 2%;
  	padding-bottom: 2%;
  	padding-left: 2%;
    padding-right: 2%;
  	margin-left: 20%;
  	margin-right: 20%;
    text-align: -webkit-center;
    margin: 0 auto;
}
 .abaslogincontainer {
    background-color: #5DBCD2;
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    display: block;
    text-align: -webkit-center;
    margin: 0 auto;
}


.button {
	background-color: #5DBCD2;
  	color: black;
  	padding: 5px 32px;
  	text-align: center;
  	text-decoration: none;
  	border-radius: 5%;
  	-webkit-transition-duration: 0.4s; /* Safari */
 	transition-duration: 0.4s;
  	transition: all 0.1s;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	cursor: pointer;
}

.button-16
{
	font-size: 16px;
}

.button-14
{
	font-size: 14px;
}

.button-12
{
	font-size: 12px;
}

.button-10
{
	font-size: 10px;
}

.abascontainer .button:hover {
  background-color: black; 
  color:  #5DBCD2;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.abascontainer .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}