<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title th:text="#{activesessions.pagetitle}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale=1.0, maximum-scale=1.2, user-scalable=no" />

<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/mobile.ico}" />
<!--===============================================================================================-->

<link rel="stylesheet" type="text/css" th:href="@{/css/abasstyle.css}" />

</head>

<body>

	<div th:insert="fragments/headernavbar.html :: FRG_header_navbar"></div>

	<!-- ################################## -->
		<table id=usertable>
			<thead>
				<tr style="font-weight: bold;" bgcolor="#5DBCD2">
					<th th:text="#{activesessions.label.username}"/>
					<th th:text="#{activesessions.label.password}"/>
					<th th:text="#{activesessions.label.enabled}"/>
					<th th:text="#{activesessions.label.accountnotexpired}"/>
					<th th:text="#{activesessions.label.credentialsnotexpired}"/>
					<th th:text="#{activesessions.label.accountnotlocked}"/>
					<th th:text="#{activesessions.label.grantedauthorities}"/>
				</tr>
			</thead>
			<th:block th:each="sessioninfo,iterStat:${allSessions}">
				<tr th:bgcolor="${iterStat.odd}?white:lightgray">
					<td th:text="${sessioninfo.getUsername()}" />
					<td th:text="${sessioninfo.getPassword()}" />
					<td th:text="${sessioninfo.isEnabled()}" />
					<td th:text="${sessioninfo.isAccountNonExpired()}" />
					<td th:text="${sessioninfo.isCredentialsNonExpired()}" />
					<td th:text="${sessioninfo.isAccountNonLocked()}" />
					<td th:text="${sessioninfo.getAuthorities().toString()}" />
				</tr>
			</th:block>
			<th:block>
				<td th:text="${activeSession.getUsername()}">
				<td th:text="${activeSession.getPassword()}">
				<td th:text="${activeSession.isEnabled()}">
				<td th:text="${activeSession.isAccountNonExpired()}">
				<td th:text="${activeSession.isCredentialsNonExpired()}">
				<td th:text="${activeSession.isAccountNonLocked()}">
				<td th:text="${activeSession.getAuthorities().toString()}">
			</th:block>
		</table>
	<!-- ################################## -->


</body>