<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title>Empty</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale=1.0, maximum-scale=1.2, user-scalable=no" />

</head>


<body>

	<!-- ################################## -->
	<div style="float: left; padding-left: 10px">
		<table>
			<thead>
				<tr style="font-weight: bold;" bgcolor="lightblue">
					<td>Username</td>
					<td>Password</td>
					<td>Enabled</td>
					<td>AccountNonExpired</td>
					<td>credentialsNonExpired</td>
					<td>AccountNonLocked</td>
					<td>Granted Authorities</td>
				</tr>
			</thead>
			<th:block th:each="session,iterStat:${activeSessions}">
				<tr th:bgcolor="${iterStat.odd}?white:lightgray">
					<td th:text="${session.getUsername()}" />
					<td th:text="${session.getPassword()}" />
					<td th:text="${session.isEnabled()}" />
					<td th:text="${session.isAccountNonExpired()}" />
					<td th:text="${session.isCredentialsNonExpired()}" />
					<td th:text="${session.isAccountNonLocked()}" />
					<td th:text="${session.getAuthorities().toString()}" />
				</tr>
			</th:block>
		</table>
	</div>
	<!-- ################################## -->
	<div style="float: left; padding-left: 10px">
		<table>
			<thead>
				<tr style="font-weight: bold;" bgcolor="lightblue">
					<td>Username</td>
					<td>Password</td>
					<td>Enabled</td>
					<td>AccountNonExpired</td>
					<td>credentialsNonExpired</td>
					<td>AccountNonLocked</td>
					<td>Granted Authorities</td>
				</tr>
			</thead>
			<th:block>
				<td th:text="${currenstSession.getUsername()}">
				<td th:text="${currenstSession.getPassword()}">
				<td th:text="${currenstSession.isEnabled()}">
				<td th:text="${currenstSession.isAccountNonExpired()}">
				<td th:text="${currenstSession.isCredentialsNonExpired()}">
				<td th:text="${currenstSession.isAccountNonLocked()}">
				<td th:text="${currenstSession.getAuthorities().toString()}">
			</th:block>
		</table>
	</div>

</body>