<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<title th:text="#{wh.receipt.pagetitle}"></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale = 1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!--===============================================================================================-->
<link rel="icon" type="image/png" th:href="@{/images/mobile.ico}" />
<!--===============================================================================================-->

<link rel="stylesheet" type="text/css" th:href="@{/css/abasstyle.css}" />
</head>


<body>

	<script type="text/javascript">
		document.addEventListener('keydown', function(event)
			{
				if ((event.keyCode === 9 || event.keyCode === 13) && event.target.nodeName === 'INPUT')
					{
						var form = event.target.form;
						var index = Array.prototype.indexOf.call(form, event.target);
						form.elements[index + 1].focus();
						event.preventDefault();
					}
			});

		function onFocusFunc(id)
			{
				if([[${message}!=null]])
					{}
				else if (id == 'product')
					{
						document.getElementById("product").style.color = 'black';
						document.getElementById("product").value = '';
						document.getElementById("location").value = '';
						document.getElementById("charge").value = '';
						document.getElementById("quantity").value = '';
					}
				else if (id == 'location')
					{
						document.getElementById("location").style.color = 'black';
						document.getElementById("location").value = '';
						document.getElementById("charge").value = '';
						document.getElementById("quantity").value = '';
					}
				else if (id == 'charge')
					{
						document.getElementById("charge").style.color = 'black';
						document.getElementById("charge").value = '';
						document.getElementById("quantity").value = '';
					}
				else if (id == 'quantity')
					{
						document.getElementById("quantity").style.color = 'black';
						document.getElementById("quantity").value = '';
					}
			}

		function onChangeFunc(id, val)
			{
				if (val != "")
					{
						document.forms['myTmpResultForm']['fieldid'].value = id;
						document.forms['myTmpResultForm']['fieldvalue'].value = val;
						document.forms['myTmpResultForm']['fieldproductvalue'].value = document.getElementById('product').value;
						document.forms['myTmpResultForm']['fieldlocationvalue'].value = document.getElementById('location').value;
						document.forms['myTmpResultForm']['fieldchargevalue'].value = document.getElementById('charge').value;
						document.forms['myTmpResultForm']['fieldquantityvalue'].value = document.getElementById('quantity').value;
						document.forms['myTmpResultForm'].submit();
					}
				else
					{
						onFocusFunc(id);
					}
			}

		var errorMessageElemnt;
		function onMyTmpResultIFrameLoad()
			{
				var iframe = document.getElementById("myTmpResultIFrame");
				var innerDoc = (iframe.contentDocument) ? iframe.contentDocument : iframe.contentWindow.document;
				try
					{
						if (errorMessageElemnt != null)
							{
								errorMessageElemnt.parentElement.removeChild(errorMessageElemnt);
							}
					}
				catch (err)
					{
					}

				var messageElem;
				var statusElem;
				var data1Elem;
				var data2Elem;
				if ((statusElem = innerDoc.getElementById("status")))
					{
						messageElem = innerDoc.getElementById("message");
						data1Elem = innerDoc.getElementById("data1");
						data2Elem = innerDoc.getElementById("data2");
						document.getElementById(document.forms['myTmpResultForm']['fieldid'].value).value = data1Elem.value;
						if (statusElem.value == 'false')
							{
								document.getElementById(document.forms['myTmpResultForm']['fieldid'].value).style.color = 'red';
								errorMessageElemnt = document.createElement('div');
								errorMessageElemnt.style.color = 'black';
								errorMessageElemnt.innerHTML = '<div style="color: red; margin: 8px 0px;"> <div class="alert-danger"><span class="alertclosebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>  <p>'
										+ messageElem.value + '</p>  </div> </div>';
								errorMessageElemnt = errorMessageElemnt.firstChild;
								document.getElementById("form").insertAdjacentElement('afterbegin', errorMessageElemnt);
							}						
					}

			};
	</script>

	<div th:insert="fragments/headernavbar.html :: FRG_header_navbar"></div>

	<div class="abascontainer-table">

		<form id="myTmpResultForm" method="POST" th:action="@{/wh/receipt/input/check}" hidden="false" target="myTmpResultIFrame">
			<input type="text" name="fieldid" id="fieldid" th:value="${fieldid}">
			<input type="text" name="fieldvalue" id="fieldvalue" th:value="${fieldvalue}">
			<input type="text" name="fieldproductvalue" id="fieldproductvalue" th:value="${fieldproductvalue}">
			<input type="text" name="fieldlocationvalue" id="fieldlocationvalue" th:value="${fieldlocationvalue}">
			<input type="text" name="fieldchargevalue" id="fieldchargevalue" th:value="${fieldchargevalue}">
			<input type="text" name="fieldquantityvalue" id="fieldquantityvalue" th:value="${fieldquantityvalue}">
		</form>
		<iframe id="myTmpResultIFrame" name="myTmpResultIFrame" hidden="true" onload="onMyTmpResultIFrameLoad(this);"> </iframe>

		<form id="form" method="POST" th:action="@{/wh/receipt/save}">

			<div th:if="${message} != null and ${status} == 'false' " style="color: red; margin: 8px 0px;">
				<div class="alert-danger">
					<span class="alertclosebtn" onclick="this.parentElement.style.display='none';">&times;</span>
					<p th:utext="${message}"></p>
				</div>
			</div>

			<div th:if="${message} != null and ${status} == 'true' " style="color: green; margin: 8px 0px;">

				<div class="alert-success">
					<span class="alertclosebtn" onclick="this.parentElement.style.display='none';">&times;</span>
					<p th:utext="${message}"></p>
				</div>
			</div>

			<table id="whtable">
				<tr>
					<td th:text="#{wh.receipt.label.product}">
					<td>
						<input type="text" name="product" id="product" th:value="${product}" autofocus="autofocus" required="required" autocomplete="on" onfocus="onFocusFunc(this.id);" onfocusout="onChangeFunc(this.id,this.value);">
					</td>
				</tr>
				<tr>
					<td th:text="#{wh.receipt.label.location}">
					<td>
						<input type="text" name="location" id="location" th:value="${location}" required="required" onfocus="onFocusFunc(this.id);" onfocusout="onChangeFunc(this.id,this.value);">
					</td>
				</tr>
				<tr>
					<td th:text="#{wh.receipt.label.charge}">
					<td>
						<input type="text" name="charge" id="charge" th:value="${charge}" onfocus="onFocusFunc(this.id);" onfocusout="onChangeFunc(this.id,this.value);">
					</td>
				</tr>
				<tr>
					<td th:text="#{wh.receipt.label.quantity}">
					<td>
						<input type=number step=0.1 min="0" class="form-control" lang="nb" name="quantity" id="quantity" th:value="${quantity}" required="required" onfocus="onFocusFunc(this.id);" onfocusout="onChangeFunc(this.id,this.value);">
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						<button id="save" name="button" value="save" type="submit" th:text="#{wh.receipt.button.save}"></button>